<material-toolbar title="100 Angular Challenge">
  <nav>
    <ul class="toolbar-nav">
      <li
        class="toolbar-item"
        routerLink="{{ link.path }}"
        routerLinkActive="link-active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngFor="let link of links"
      >
        {{ link.title }}
      </li>
    </ul>
    <material-toggle
      [isOn]="darkMode$ | async"
      data-cy="theme-switcher"
      (click)="themeService.toggleDarkMode()"
    ></material-toggle>
  </nav>
</material-toolbar>

<main>
  <router-outlet></router-outlet>
</main>

<material-footer></material-footer>

<material-top-of-page></material-top-of-page>
<material-snackbar></material-snackbar>
