<toolbar-toolbar title="100 Angular Challenge">
  <ul>
    <li>Components</li>
    <li>Directives</li>
    <li>Services</li>
    <li>Pipes</li>
    <li>Other</li>
  </ul>
</toolbar-toolbar>

<main>
  <card-card
    iconClasses="fas fa-info-circle"
    title="Accordion"
    subTitle="Component"
  >
    <material-star-rating body [rating]="3.6"></material-star-rating>
  </card-card>

  <card-card
    iconClasses="fas fa-info-circle"
    title="Progress Bar"
    subTitle="Component"
  >
    <progress-bar-progress-bar
      body
      [value]="progressValue"
    ></progress-bar-progress-bar>

    <button
      data-cy="progress-update"
      footer
      (click)="progressValue = 100"
      class="px-3 py-1 text-white bg-green-400 rounded"
    >
      Update
    </button>

    <button
      data-cy="progress-reset"
      footer
      (click)="progressValue = 0"
      class="px-3 py-1 ml-2 text-white bg-green-400 rounded"
    >
      Reset
    </button>
  </card-card>

  <card-card
    iconClasses="fas fa-info-circle"
    title="Accordion"
    subTitle="Component"
  >
    <accordion-accordion body [items]="accordionItems"></accordion-accordion>
  </card-card>

  <card-card iconClasses="fas fa-info-circle" title="Card" subTitle="Component">
    <p body>Body Content</p>
    <p footer>Footer Content</p>
  </card-card>
</main>
