@import url('https://fonts.googleapis.com/css2?family=Raleway');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

* {
  scroll-behavior: smooth;
  font-family: Raleway, sans-serif;
}

body {
  overflow: scroll; /* Show scrollbars */
}

.mui-btn {
  @apply px-3 py-1 text-white bg-green-400 dark:bg-blue-900 rounded mr-2 hover:opacity-70 transition duration-300;

  &.danger {
    @apply bg-red-400;
  }

  &.warning {
    @apply bg-yellow-400;
  }
}

.mui-form-input {
  @apply block w-60 px-3 py-2 text-gray-900 placeholder-gray-400 bg-white rounded border appearance-none focus:outline-none;
}
