@import url('https://fonts.googleapis.com/css2?family=Raleway');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

* {
  scroll-behavior: smooth;
  font-family: Raleway, sans-serif;
}

body {
  overflow: scroll; /* Show scrollbars */
}

.mui-btn {
  @apply px-3 py-1 ml-2 text-white bg-green-400 dark:bg-blue-900 rounded transition duration-300;

  &:first-child {
    @apply ml-0;
  }

  &.danger {
    @apply bg-red-400;
  }

  &.warning {
    @apply bg-yellow-400;
  }

  &.info {
    @apply bg-blue-500;
  }

  &.basic {
    @apply bg-transparent text-blue-800 ring-1 outline-none;
  }

  &.lg {
    @apply px-3 py-3;
  }

  &.md {
    @apply px-8 py-3;
  }
}

.mui-form-input {
  @apply block w-60 px-3 py-2 text-gray-900 placeholder-gray-400 bg-white rounded border appearance-none focus:outline-none;
}

.ripple {
  background-position: center;
  transition: all 0.4s;

  &:hover {
    color: white;
    transition: background 0.4s;
    background: #1485e2 radial-gradient(circle, transparent 1%, #47a7f5 1%)
      center/15000%;
  }

  &:active {
    background-color: #2497f5;
    background-size: 100%;
    transition: background 0s;
  }
}
